/VPWStudio/VPWStudio/bin
/VPWStudio/VPWStudio/obj
/VPWStudio/.vs
/etc
/VPWStudio/VPWStudio/temporary
/VPWStudio/VPWStudio/githash.txt
/VPWStudio/VPWStudio/builddate.txt
/.vs
/VPWStudio/VPWStudio/VPWStudio.csproj.user
/*.lnk
