h1,h2,h3,h4,h5,h6{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-top: 0em;
	padding-bottom: 0em;
}

#header{
	text-align:center;
}

#footer{
	text-align:center;
}

table{
	border:1px solid #000;
	border-collapse:collapse;
}

th{
	border:1px solid #000;
	padding: 0.25em;
	background-color:#CCC;
}

td{
	border:1px solid #000;
	padding: 0.25em;
}

dt{
	padding-top:0.2em;
	padding-bottom:0.1em;
}

dd{
	padding-top:0.25em;
	padding-bottom:1em;
}

code{
	background-color:#ddd;
	font-family:Consolas, Courier, monospace;
	font-size:105%;
}

.notsupported{
	background-color: #F88;
}

.partialsupport{
	background-color: #88F;
}

.supported{
	background-color: #8F8;
}